[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
alembic = "*"
redis = "*"
bs4 = "*"
sqlalchemy = "*"
selenium = "*"
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
pymysql = "*"
requests = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.9"
